*, *::before, *::after {
    box-sizing: border-box;
}

.jumbotron {
    color: #f5f5f5;
    background-color: rgb(13, 81, 184);
}

.card-header {
    color: #f5f5f5;
    background-color:  rgb(65, 123, 177);

}
.card.employee-card {
    box-shadow: 2px 4px 4px rgb(156, 150, 150);
}

.card-title {
    color: #f5f5f5;
}

.fas {
    color: #f5f5f5;
}

